<%= form_with url: current_controller == 'books' ? books_path : wishes_path, method: :get, local: true, class: "w-full" do %>
  <% params.except(:sort_by, :sort_order, :controller, :action).each do |key, value| %>
    <%= hidden_field_tag key, value %>
  <% end %>

  <%= hidden_field_tag :sort_order, "desc" unless params[:sort_order].present? %>

  <div class="dropdown dropdown-bottom dropdown-end w-full">
    <div tabindex="0" role="button" class="btn bg-transparent w-full flex justify-start rounded-xl h-12">
      <div class="hidden md:flex items-center justify-start w-11/12 gap-2">
        <span class="text-gray-400">Sort By:</span>
        <span class="font-semibold text-gray-700">
          <%= params[:sort_by] == 'title' ? 'Title' : 'Date Added' %>
        </span>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
          <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
        </svg>
      </div>
    </div>

    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 shadow-sm p-0 font-semibold">
      <li class="text-[#9CA3AF] pl-4 py-3">Attributes</li>

      <li>
        <label class="flex items-center gap-2">
          <%= radio_button_tag :sort_by, "title", (params[:sort_by] || 'date_added') == "title", onchange: "this.form.submit()", class: "radio" %>
          Title
        </label>
      </li>
      <li>
        <label class="flex items-center gap-2">
          <%= radio_button_tag :sort_by, "date_added", (params[:sort_by] || 'date_added') == "date_added", onchange: "this.form.submit()", class: "radio" %>
          Date Added
        </label>
      </li>

      <div class="bg-[#F2F2F7] mt-12">
        <div class="flex">
          <% is_asc = params[:sort_order] == "asc" %>
          <% is_desc = !is_asc %>

          <div class="py-4 ml-4 w-1/2 flex items-center justify-center space-x-3 text-gray-500 hover:text-orange-100">
            <span class="text-xs">
              <label class="flex items-center gap-2 text-xs <%= is_asc ? 'text-orange-500' : 'text-gray-500 hover:text-orange-100' %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
                </svg>
                <%= radio_button_tag :sort_order, "asc", is_asc, onchange: "this.form.submit()", class: "hidden" %>
                Ascending
              </label>
            </span>
          </div>

          <div class="divider divider-horizontal"></div>

          <div class="px-3 py-4 mr-4 w-1/2 flex items-center justify-center space-x-3 text-gray-500 hover:text-orange-100">
            <span class="text-xs">
              <label class="flex items-center gap-2 text-xs <%= is_desc ? 'text-orange-500' : 'text-gray-500 hover:text-orange-100' %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
                <%= radio_button_tag :sort_order, "desc", is_desc, onchange: "this.form.submit()", class: "hidden" %>
                Descending
              </label>
            </span>
          </div>
        </div>
      </div>
    </ul>
  </div>
<% end %>