<% is_wishes = current_controller == 'wishes' %>

<div class="flex">
  <div class="<%= is_wishes ? 'w-7/12' : 'w-full' %> lg:w-9/12">
    <div class="dropdown">
      <div tabindex="0" role="button" class="m-1 flex justify-center items-center align-middle gap-3 mb-5">
        <h1 class="text-3xl lg:text-4xl md:font-bold font-semibold">
          <%= current_controller == 'books' ? 'Books' : 'Wishes' %>
        </h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
        </svg>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
        <li>
          <summary>
            <%= link_to books_path, class: "text-lg font-semibold #{current_controller == 'books' ? 'text-black' : 'text-gray-200'}" do %>
              Books
            <% end %>
          </summary>
        </li>
        <li>
          <summary>
            <%= link_to wishes_path, class: "text-lg font-semibold #{current_controller == 'wishes' ? 'text-black' : 'text-gray-200'}" do %>
              Wishes
            <% end %>
          </summary>
        </li>
      </ul>
    </div>

    <div class="flex flex-wrap gap-2" data-controller="book-search">
      <% if current_controller == 'books' %>
        <%= render "books/category_filters" %>
      <% else %>
        <button class="<%= is_wishes ? 'hidden lg:flex' : '' %> border-2 border-gray-50 text-gray-500 py-3 px-7 rounded-xl font-semibold">
          <%= link_to new_wish_path do %>+ Add Wish<% end %>
        </button>
      <% end %>
    </div>
  </div>

  <% if is_wishes %>
    <div class="lg:hidden w-5/12 gap-6 flex justify-end">
      <button class="border-lg:hidden border-2 border-gray-50 text-gray-500 px-5 bg-transparent btn rounded-xl font-semibold">
        <%= link_to new_wish_path do %>+ Add Wish<% end %>
      </button>
    </div>
  <% end %>

  <div class="hidden lg:grid w-3/12 gap-6 max-w-lg justify-left items-end">
    <%= render "shared/search_bar" %>

    <div class="w-full flex gap-5">
      <div class="w-2/6 flex justify-start">
        <% if current_controller == 'books' %>
          <%= render "books/select_filter" %>
        <% end %>
      </div>

      <div class="w-4/6 flex justify-end">
        <%= render "shared/select_sort" %>
      </div>
    </div>
  </div>
</div>

<div class="lg:hidden flex items-center gap-6">
  <%= render "shared/search_bar" %>

  <div class="ml-auto md:w-56">
    <%= render "shared/select_sort" %>
  </div>
</div>

<div class="divider"></div>
