<%= csrf_meta_tags %>

<%= form_with(model: book, local: false, html: { multipart: true }, data: { turbo: true }) do |form| %>
  <div class="space-y-6" data-controller="pdf-metadata">
    <div class="flex gap-2">
      <div class="field input w-full">
        <%= form.text_field :title, class: "grow w-full", placeholder: "Book Title", data: { "pdf-metadata-target": "title" } %>
      </div>
      <div class="field input w-full">
        <%= form.text_field :author, class: "grow w-full", placeholder: "Author Name", data: { "pdf-metadata-target": "author" } %>
      </div>
    </div>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Image cover</legend>
      <%= form.file_field :cover_image, class: "file-input file-input-bordered w-full", accept: "image/*" %>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Book PDF</legend>
      <%= form.file_field :pdf_file,
          accept: 'application/pdf',
          class: "file-input file-input-bordered w-full",
          data: {
            "pdf-metadata-target": "fileInput",
            action: "change->pdf-metadata#extractMetadata"
          } %>
    </fieldset>

    <div class="field input w-full">
      <%= form.number_field :pages, class: "grow w-full", placeholder: "Number of Pages", data: { "pdf-metadata-target": "pages" } %>
    </div>

    <%= form.text_area :description, class: "textarea w-full", placeholder: "Description" %>

    <div class="field">
      <label class="block text-gray-700 font-bold mb-2">Categories</label>
      <div class="flex flex-wrap gap-2">
        <% categories.each do |category| %>
          <input 
            type="checkbox" 
            class="btn w-fit" 
            name="book[category_ids][]" 
            value="<%= category.id %>" 
            <%= "checked" if book.categories.include?(category) %>
            aria-label="<%= category.name %>" 
          />
        <% end %>
      </div>
    </div>

    <div class="w-full actions text-center space-y-5">
      <%= form.submit "Create Book", class: "btn w-full bg-blue-500 text-white rounded-xl" %>
    </div>
  </div>
<% end %>
