<div data-book-review-target="reviewForm">
  <%= form_with(model: Review.new, url: reviews_path, local: false, class: "space-y-3") do |form| %>
    <h3 class="text-xl font-bold">Review</h3>

    <%= form.hidden_field :book_id, data: { book_review_target: "bookId" } %>

    <div>
      <p>Rating</p>
      <div class="rating rating-sm">
        <% 5.times do |i| %>
          <%= form.radio_button :rating, i+1, class: "mask mask-star-2 bg-orange-400", "aria-label": "#{i+1} star" %>
        <% end %>
      </div>
    </div>

    <div>
      <p>About</p>
      <%= form.text_area :content, class: "textarea textarea-bordered w-full mt-3", placeholder: "Write your review..." %>
      <div class="flex justify-between mt-4">
        <%= form.submit "Add review", class: "btn bg-blue-500 text-white mt-4 rounded-xl" %>
        <%# <button class="md:hidden btn text-blue-500 mt-4 rounded-xl ml-auto">Read book</button> %>
      </div>
    </div>
  <% end %>
</div>
