<%= render 'layouts/drawer' do %>
  <div data-controller="book-review">
    <div class="drawer drawer-end">
      <input id="review-drawer" type="checkbox" class="drawer-toggle">
      <div class="drawer-content px-6 md:px-12">
        <%= render "navbar" %>
        <div class="space-y-4">
          <h1 class="md:text-3xl md:font-bold font-semibold text-xl">Books</h1>
          <div class="flex">
            <%= render "category_filters" %>
            <div class="hidden lg:flex w-2/8 justify-end">
              <div data-controller="book-search" class="ml-auto">
                <%= render "select_sort" %>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <h2 class="text-xl mb-6 font-semibold">
          <%= params[:query].present? ? 'Search Results' : 'Recently added' %>
        </h2>
        <%= render "book_grid", books: @books %>
      </div>
      <%= render "drawer_side" %>
    </div>
  </div>
<% end %>
