<%= render 'layouts/drawer' do %>
  <div data-controller="book-review">
    <div class="drawer drawer-end">
      <input id="review-drawer" type="checkbox" class="drawer-toggle">
      <div class="drawer-content px-6 md:px-12">
        <%= render "navbar" %>
        <div class="space-y-4">
          <h1 class="md:text-3xl md:font-bold font-semibold text-xl">Books</h1>
          <div class="flex">
            <div class="flex flex-wrap gap-2 w-full lg:w-6/8" data-controller="book-search">
              <% Category.all.each do |category| %>
                <label class="cursor-pointer">
                  <input type="checkbox"
                        class="hidden peer"
                        value="<%= category.name %>"
                        data-book-search-target="checkbox"
                        <%= "checked" if params[:categories]&.include?(category.name) %> />
                  <span class="btn bg-[#F9F9F9] text-gray-700 shadow-none border-none w-fit peer-checked:bg-orange-500 peer-checked:text-white">
                    <%= category.name %>
                  </span>
                </label>
              <% end %>
            </div>
            <div class="hidden lg:flex w-2/8 justify-end">
              <div data-controller="book-search" class="ml-auto">
                <%= render "select_sort" %>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <h2 class="text-xl mb-6 font-semibold">
          <%= params[:query].present? ? 'Search Results' : 'Recently added' %>
        </h2>
        <div id="books-container" class="pb-10" data-controller="book-search">
          <%= render "book" %>
        </div>
      </div>

      <div class="drawer-side" data-book-review-target="drawer">
        <label for="review-drawer" class="drawer-overlay"></label>
        <div class="w-96 p-5 h-full overflow-y-scroll shadow-lg bg-[#F2F2F7] space-y-6 pt-12 mb-4">
          <div class="flex items-center px-4 md:hidden">
            <div class="w-full flex items-center justify-start">
              <label for="review-drawer" class="top-4 right-4 hover:bg-gray-400 duration-100 hover:translate-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
              </label>
            </div>

          </div>
          <div class="grid justify-center items-center space-y-4">
            <div class="m-auto mb-3">
              <img data-book-review-target="cover" src="" alt="Book cover" class="rounded-xl w-52">
            </div>

            <div class="text-center">
              <h3 data-book-review-target="title" class="font-extrabold text-xl"></h3>
              
              <div class="flex text-sm justify-center items-center space-x-2">
                <p>
                  Added by 
                  <span data-book-review-target="addedBy" class="font-semibold"></span>
                </p>
              </div>
            </div>

            <div class="m-auto space-y-6">
              <div class="flex justify-center items-center space-x-3">
                <div data-book-review-target="ratingStars" class="rating rating-sm"></div>
              </div>
              <div class="stats stats-horizontal">
                <div class="stat">
                  <div data-book-review-target="pages" class="stat-value text-sm">0</div>
                  <div class="stat-desc">pages</div>
                </div>

                <div class="stat">
                  <div data-book-review-target="rating" class="stat-value text-sm">0</div>
                  <div class="stat-desc">ratings</div>
                </div>

                <div class="stat">
                  <div data-book-review-target="reviewCount" class="stat-value text-sm">0</div>
                  <div class="stat-desc">reviews</div>
                </div>
              </div>
            </div>
          </div>

          <div class="px-6 space-y-2">
            <div>
              <h3 class="text-xl font-bold mb-2">Short description</h3>
              <p data-book-review-target="description"></p>
            </div>

            <div data-book-review-target="userReviewSection" class="hidden space-y-3">
              <h3 class="text-xl font-bold">Your Review</h3>
              
              <div>
                <p>Your Rating</p>
                <div data-book-review-target="userReviewRating" class="rating rating-sm"></div>
              </div>

              <div>
                <p>Your Thoughts</p>
                <div class="p-3 bg-white rounded-lg mt-2">
                  <p data-book-review-target="userReviewContent"></p>
                </div>
                
                <div class="flex justify-end mt-4">
                  <button class="btn text-blue-500 rounded-xl">Read book</button>
                </div>
              </div>
            </div>

            <div data-book-review-target="reviewForm">
              <%= form_with(model: Review.new, url: reviews_path, local: false, class: "space-y-3") do |form| %>
                <h3 class="text-xl font-bold">Review</h3>
                
                <%= form.hidden_field :book_id, data: { book_review_target: "bookId" } %>
                
                <div>
                  <p>Rating</p>
                  <div class="rating rating-sm">
                    <% 5.times do |i| %>
                      <%= form.radio_button :rating, i+1, class: "mask mask-star-2 bg-orange-400", "aria-label": "#{i+1} star" %>
                    <% end %>
                  </div>
                </div>

                <div>
                  <p>About</p>
                  <%= form.text_area :content, class: "textarea textarea-bordered w-full mt-3", placeholder: "Write your review..." %>
                  <div class="flex justify-between mt-4">
                    <%= form.submit "Add review", class: "btn bg-blue-500 text-white mt-4 rounded-xl" %>
                    <button class="btn text-blue-500 mt-4 rounded-xl ml-auto">Read book</button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
