<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="book-review">


    <main>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    <div id="turbo_redirect"></div>
  </body>
</html>
